.header {
  max-height: 800px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 80px;
  position: relative;
  box-sizing: border-box;
  justify-content: center;
}

.header__image {
  margin: 40px 0 0;
  top: 124px;
  width: 1230px;
  height: 710px;
  z-index: -1;
}
