.teammate {
}
.teammate__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}
.teammate__board {
  background-color: #fff;
  width: 280px;
  height: 180px;
  position: relative;
  border-radius: 20px;
  justify-content: center;
  margin: 100px 20px;
}
.teammate__photo {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  border: 10px #fff solid;
  position: absolute;
  left: 40px;
  top: -100px;
}
.teammate__name {
  font-size: 32px;
  width: 280px;
  font-family: inder, Arial, sans-serif;
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  text-align: center;
}
